<%- include('./header') %>
    <%- include('./navBARR') %>
        <div class="add-to-diary">
            <h2>Create Your
                <span class="green-text"> New Project</span>
            </h2>

            <form action="/projectDetails/edit/<%= projects.id%>?_method=PUT" method="post">

                <input type="hidden" name="_method" value="PUT">

                <h2>
                    <div class="form-group">
                        <label for="Name">Name: <%= projects.Name%></label>

                    </div>
                </h2>
                <br>


                <div class="form-group">
                    <label for="Description">Description: <%= projects.Description%></label>
                </div>
                <div class="form-group">
                    <label for="Author">Author: <%= projects.Author%> </label>
                </div>
                <div class="form-group">
                    <label for="Issue">issue</label>
                    <textarea name="Issue" if="Issue" cols="30" rows="3"><%=projects.Issue%></textarea>
                </div>


                <input type="submit" value="EDIT"></input>
        </div>


        <%- include('./footer')%>